@import '~@/variable.less';
.appMain {
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 60px - 60px);
  @media screen and (max-width: @screen-md-min) {
    & {
      min-height: calc(100vh - 70px - 60px);
    }
  }
}
